<?xml version="1.0" ?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Front Laser Calibration Offsets -->
  <xacro:property name="laser_front_x" value="0.71179" />
  <xacro:property name="laser_front_y" value="0.47912" />
  <xacro:property name="laser_front_z" value="0.17501" />
  <xacro:property name="laser_front_roll" value="-3.1416" />
  <xacro:property name="laser_front_pitch" value="0.0" />
  <xacro:property name="laser_front_yaw" value="0.768395" />

  <!-- Back Laser Calibration Offsets -->
  <xacro:property name="laser_back_x" value="-0.70179" />
  <xacro:property name="laser_back_y" value="-0.30912" />
  <xacro:property name="laser_back_z" value="0.17501" />
  <xacro:property name="laser_back_roll" value="-3.1416" />
  <xacro:property name="laser_back_pitch" value="0.0" />
  <xacro:property name="laser_back_yaw" value="-2.33875" />

  <!-- 3D Laser Calibration Offsets -->
  <xacro:property name="laser_3d_x" value="0.82726" />
  <xacro:property name="laser_3d_y" value="-0.55936" />
  <xacro:property name="laser_3d_z" value="0.40005" />
  <xacro:property name="laser_3d_roll" value="-3.1416" />
  <xacro:property name="laser_3d_pitch" value="0.0" />
  <xacro:property name="laser_3d_yaw" value="-2.33875" />

</robot>
