<?xml version="1.0" ?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Configurations & Parameters -->
  <xacro:include filename="config/common_properties.xacro"/>
  <xacro:include filename="config/robot_dimensions.xacro"/>
  <xacro:include filename="config/lidar_correction.xacro"/>
  <xacro:include filename="config/camera_correction.xacro"/>
  <xacro:include filename="config/imu_joint.xacro"/>
  <xacro:include filename="agv.macros.xacro"/>
  <xacro:include filename="agv.gazebo.xacro"/>
  
  <!-- Base Footprint (Ground Plane Z=0) to Base Link Elevation -->
  <link name="base_footprint"/>
  <joint name="base_footprint_to_base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 ${-ground_contact_z}" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <collision><geometry><box size="${chassis_length} ${chassis_width} ${chassis_height}"/></geometry></collision>
    <visual><geometry><box size="${chassis_length} ${chassis_width} ${chassis_height}"/></geometry><material name="grey"/></visual>
    <!-- Measured/CAD empirical mass matrix including internal battery/payload asymmetry -->
    <inertial>
      <mass value="${chassis_mass}" />
      <inertia ixx="3.9687" ixy="0.28534" ixz="0.11898" iyy="11.378" iyz="0.00735" izz="8.1939" />
    </inertial>  
  </link>

  <!-- Drive Wheels (Symmetric Mounting based on wheel_track) -->
  <xacro:wheel wheel_side="left"  offset_y="${wheel_track / 2}"/>
  <xacro:wheel wheel_side="right" offset_y="${-wheel_track / 2}"/>

  <!-- Caster Wheel Pairs (Front & Back) -->
  <xacro:caster_pair location="front" offset_x="${caster_offset_x}"  offset_y="${caster_offset_y}" mass="${caster_mass}"/>
  <xacro:caster_pair location="back"  offset_x="${-caster_offset_x}" offset_y="${caster_offset_y}" mass="${caster_mass}"/>

  <!-- 2D & 3D LiDAR Sensors (Kinematics + Simulation Stream) -->
  <xacro:lidar_sensor name="front_lidar" x="${front_lidar_x}" y="${front_lidar_y}" z="${front_lidar_z}" roll="${front_lidar_roll}" pitch="${front_lidar_pitch}" yaw="${front_lidar_yaw}" topic_name="/front_lidar/scan"/>
  <xacro:lidar_sensor name="rear_lidar"  x="${rear_lidar_x}"  y="${rear_lidar_y}"  z="${rear_lidar_z}"  roll="${rear_lidar_roll}"  pitch="${rear_lidar_pitch}"  yaw="${rear_lidar_yaw}"  topic_name="/rear_lidar/scan"/>
  <xacro:lidar_sensor name="lidar_3d"    x="${lidar_3d_x}"    y="${lidar_3d_y}"    z="${lidar_3d_z}"    roll="${lidar_3d_roll}"    pitch="${lidar_3d_pitch}"    yaw="${lidar_3d_yaw}"    topic_name="/lidar_3d/points" mass="1.5" samples="1800" v_samples="16" v_min_angle="-0.261799" v_max_angle="0.261799" min_range="0.20" max_range="50.0" update_rate="10.0" noise_stddev="0.02"/>

  <!-- IMU Sensor -->
  <link name="imu_link">
    <visual>
      <geometry><box size="0.05 0.05 0.02"/></geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="${imu_x} ${imu_y} ${imu_z}" rpy="${imu_roll} ${imu_pitch} ${imu_yaw}"/>
  </joint>

  <!-- Cameras (Mounts + Optical Frames + Simulation Stream) -->
  <xacro:camera_mount name="camera_front_left"  x="${camera_front_left_x}"  y="${camera_front_left_y}"  z="${camera_front_left_z}"  roll="${camera_front_left_roll}"  pitch="${camera_front_left_pitch}"  yaw="${camera_front_left_yaw}"/>
  <xacro:camera_mount name="camera_front_right" x="${camera_front_right_x}" y="${camera_front_right_y}" z="${camera_front_right_z}" roll="${camera_front_right_roll}" pitch="${camera_front_right_pitch}" yaw="${camera_front_right_yaw}"/>
  <xacro:camera_mount name="camera_rear_left"   x="${camera_rear_left_x}"   y="${camera_rear_left_y}"   z="${camera_rear_left_z}"   roll="${camera_rear_left_roll}"   pitch="${camera_rear_left_pitch}"   yaw="${camera_rear_left_yaw}"/>
  <xacro:camera_mount name="camera_rear_right"  x="${camera_rear_right_x}"  y="${camera_rear_right_y}"  z="${camera_rear_right_z}"  roll="${camera_rear_right_roll}"  pitch="${camera_rear_right_pitch}"  yaw="${camera_rear_right_yaw}"/>

</robot>
