<?xml version="1.0" ?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Front Left Camera Mount Offsets -->
  <xacro:property name="camera_front_left_x" value="0.73448"/>
  <xacro:property name="camera_front_left_y" value="0.1567"/>
  <xacro:property name="camera_front_left_z" value="0.1225"/>
  <xacro:property name="camera_front_left_roll" value="0.0"/>
  <xacro:property name="camera_front_left_pitch" value="0.0"/>
  <xacro:property name="camera_front_left_yaw" value="-0.5236"/>

  <!-- Front Right Camera Mount Offsets -->
  <xacro:property name="camera_front_right_x" value="0.73448"/>
  <xacro:property name="camera_front_right_y" value="-0.1567"/>
  <xacro:property name="camera_front_right_z" value="0.1225"/>
  <xacro:property name="camera_front_right_roll" value="0.0"/>
  <xacro:property name="camera_front_right_pitch" value="0.0"/>
  <xacro:property name="camera_front_right_yaw" value="0.5236"/>

  <!-- Rear Left Camera Mount Offsets -->
  <xacro:property name="camera_rear_left_x" value="-0.73558"/>
  <xacro:property name="camera_rear_left_y" value="0.1568"/>
  <xacro:property name="camera_rear_left_z" value="0.1225"/>
  <xacro:property name="camera_rear_left_roll" value="0.0"/>
  <xacro:property name="camera_rear_left_pitch" value="0.0"/>
  <xacro:property name="camera_rear_left_yaw" value="-2.618"/>

  <!-- Rear Right Camera Mount Offsets -->
  <xacro:property name="camera_rear_right_x" value="-0.73558"/>
  <xacro:property name="camera_rear_right_y" value="-0.1568"/>
  <xacro:property name="camera_rear_right_z" value="0.1225"/>
  <xacro:property name="camera_rear_right_roll" value="0.0"/>
  <xacro:property name="camera_rear_right_pitch" value="0.0"/>
  <xacro:property name="camera_rear_right_yaw" value="2.618"/>

</robot>
