<?xml version="1.0"?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="true"/>
  <xacro:arg name="imu_visual"   default="true"/>

  <gazebo>
    <plugin name="turtlebot3_burger_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <rosDebugLevel>Debug</rosDebugLevel>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>50</updateRate>
      <alwaysOn>true</alwaysOn>
      <leftJoint>left_wheel_joint</leftJoint>
      <rightJoint>right_wheel_joint</rightJoint>
      <wheelSeparation>0.654</wheelSeparation>
      <wheelDiameter>0.200</wheelDiameter>
      <wheelAcceleration>1</wheelAcceleration>
      <wheelTorque>34.52</wheelTorque>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo reference="left_wheel_joint">
    <mu1>1000000.0</mu1>
    <mu2>100000.0</mu2>
    <kp>5000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="right_wheel_joint">
    <mu1>1000000.0</mu1>
    <mu2>100000.0</mu2>
    <kp>5000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.8</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="caster_left_back_joint">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.01</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="caster_right_back_joint">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.01</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="caster_left_front_joint">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.01</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="caster_right_front_joint">
    <mu1>1.0</mu1>
    <mu2>0.0</mu2>
    <kp>1000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.01</minDepth>
    <maxVel>1.0</maxVel>
    <material>Gazebo/Grey</material>
  </gazebo>


  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>100.0</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="base_scan">
    <material>Gazebo/Blue</material>
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0.0 0.0 0.0 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>18.0</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>-0.67</min_angle>
            <max_angle>3.84</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>8.5</max>
          <resolution>0.025</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan///</topicName>
        <frameName>base_scan</frameName>
      </plugin>
    </sensor>
  </gazebo>


</robot>
