<?xml version="1.0"?>
<robot name="agv" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="true"/>
  <xacro:arg name="imu_visual"   default="true"/>

  <!-- Differential Drive Controller Plugin -->
  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <commandTopic>cmd_vel</commandTopic>
      <rosDebugLevel>Debug</rosDebugLevel>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>false</publishWheelTF>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
      <updateRate>50</updateRate>
      <alwaysOn>true</alwaysOn>
      <leftJoint>left_wheel_joint</leftJoint>
      <rightJoint>right_wheel_joint</rightJoint>
      <wheelSeparation>0.81298</wheelSeparation>
      <wheelDiameter>0.200</wheelDiameter>
      <wheelAcceleration>1</wheelAcceleration>
      <wheelTorque>34.52</wheelTorque>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Drive Wheel Contact Properties -->
  <gazebo reference="left_wheel">
    <mu1>1000000.0</mu1>
    <mu2>100000.0</mu2>
    <kp>5000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>1.5</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="right_wheel">
    <mu1>1000000.0</mu1>
    <mu2>100000.0</mu2>
    <kp>5000000.0</kp>
    <kd>100.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.8</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- IMU Sensor Plugin -->
  <gazebo>
    <plugin name="imu_sensor_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>100.0</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu_sensor">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/Grey</material>
  </gazebo>

  <!-- Laser Sensor Plugin Macro -->
  <xacro:macro name="gazebo_laser_plugin" params="link_name sensor_name topic_name update_rate:=18.0 min_angle:=-3.14159 max_angle:=3.14159">
    <gazebo reference="${link_name}">
      <material>Gazebo/Blue</material>
      <sensor type="ray" name="${sensor_name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>$(arg laser_visual)</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.120</min>
            <max>10.0</max>
            <resolution>0.025</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="${sensor_name}_controller" filename="libgazebo_ros_laser.so">
          <topicName>${topic_name}</topicName>
          <frameName>${link_name}</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Front and Back 2D Laser Ray Sensors -->
  <xacro:gazebo_laser_plugin link_name="laser_front_link" sensor_name="front_laser" topic_name="scan_front"/>
  <xacro:gazebo_laser_plugin link_name="laser_back_link"  sensor_name="back_laser"  topic_name="scan_back"/>

</robot>
